<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Display GPA's Greater than or Equal to</title>
</head>

<body>
	<h1>Display GPA's Greater than or Equal to</h1>
	<form action="historyResults.ejs" method="post">
		<fieldset>
            <legend>
                <strong>Display Search History</strong>
            </legend>
            
			<label>Email: <input type="email" id="email" name="email" required></label>
            <br>

		</fieldset>

		<br>
		<input type="submit" value="Submit" />

        <hr>
        <a href="home">HOME</a>
	</form>
</body>

</html>
