<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Applicants Data</title>
</head>

<body>
	<h1 style="color: blue;">User Data</h1>
	<div>
        <%- data %> 

        <hr>
        <a href="/">HOME</a>
	</div>
</body>

</html>
