<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Weather App - Home </title>
</head>

<body>
    <h1>Welcome to the Weather App</h1>

    <form action="/weather" method="POST">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="zipcode">Zipcode:</label>
          <input type="text" id="zipcode" name="zipcode" required pattern="\d{5}">
        </div>
        <button type="submit">Get Weather</button>
      </form>
</body>

</html>